page-home {
    .ion-badge {
        padding: 16px 9px;
    }
}

.card-md p {
    margin: 0 0 2px;
    margin-bottom: 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
    margin-bottom: 20px;
    margin: 15px;
    background-color: #ccc3;
}
